body {
    margin: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 16px; 
    font-weight: bold
}
p {
    font-size: 15px;
}
li {
    font-size: 15px; 
    margin-bottom: 1em;
}